@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
  font-size: 14px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#main {
  max-width: 600px;
  margin: auto;
  box-sizing: inherit;
  color: #484848;
}

h2 {
  text-align: center;
}

a {
  color: white;
}

.group {
  padding: 1rem;
  margin: auto;
  border-bottom: 1px solid #bbb;
}

.group:first-of-type {
  border-top: 1px solid #bbb;
}

.group:nth-of-type(2n) {
  background-color: #f7f7f7;
}

.btn-input label {
  display: block;
}

.button-input input {
  border: 1px solid #d0cfcf;
  border-radius: 0.35rem;
  padding: 0.25rem;
  margin-bottom: 0.75rem;
  width: 100%;
}

.options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.group:first-of-type .button-sameline {
  display: none;
}

.delete {
  margin-left: 1rem;
}

#button-form-output {
  padding: 1rem;
}

.button-output-header {
  display: flex;
  align-items: center;
  justify-content: center;
}


.copy {
  padding-left: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.button-copy-success {
  position: fixed;
  top: 0;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  text-align: center;
}

.button-copy-success p {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
  color: white;
  border-radius: 0.25rem;
  padding: 1rem;
  transform: translate(-50%, -50%);
}

.delete-rose-button {
  color: red;
  margin-left: 1rem;
  padding: 0;
  background-color: white;
  width: 1rem;
  height: 32px;
  border: 1px solid #c6c6c6;
  padding: 0.25rem 16px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.fa-trash-alt:before {
  position: relative;
  right: 0.4rem;
}

#button-form-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

#button-form-actions button {
  margin-left: 1rem;
  background: #00b7ff;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  border: none;
  font-size: 1.15rem;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

#generate-button {
  margin-left: 1rem;
}

#button-output {
  border-radius: 0.5rem;
  margin: auto;
  font-weight: 600;
  white-space: pre;
}

.buttoncode-success {
  border: 1px solid green;
  background: lightgreen;
  color: green;
  padding: 1em;
}

.buttoncode-error {
  border: 1px solid red;
  background: lightpink;
  color: red;
  padding: 1em;
}

.buttoncode-input-empty {
  border: 1px solid red !important;
  background: lightpink;
  color: red;
}

.button-sameline {
  display: flex;
  position: relative;
  flex: 0 0 8.75rem;
  align-items: center;
  background: #fff;
  border: 1px solid #c6c6c6;
  text-transform: uppercase;
  border-radius: 0.25rem;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 600;
}

.sameline-label {
  margin-top: 0.1rem;
  padding-left: 0.6rem;
  cursor: pointer;
}

.sameline-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2.25rem;
  border-left: 1px solid #c6c6c6;
}

.sameline-checkbox:after {
  content: "";
  position: absolute;
  left: 12px;
  top: 3px;
  width: 9px;
  height: 17px;
  border: solid #e6e6e6;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.sameline-switch {
  opacity: 0;
  position: absolute;
  right: 0;
}

.sameline-switch:checked~label .sameline-checkbox {
  background: green;
  transition: 0.3s;
}

.sameline-switch:checked~label .sameline-checkbox:after {
  display: block;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: 0.3s;
}

/*Note Type Toggle Switch*/
.button-type {
  position: relative;
  flex: 0 0 9rem;
  margin-left: 1rem;
}

.button-type-switch {
  cursor: pointer;
}

.button-type input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.button-type input[disabled]~label {
  pointer-events: none;
}

.button-type input[disabled]~label .button-type-switch {
  opacity: 0.4;
}

.button-type input:checked~label .button-type-switch:before {
  content: attr(data-unchecked);
  left: 0;
}

.button-type input:checked~label .button-type-switch:after {
  content: attr(data-checked);
}

.button-type label {
  position: relative;
  display: flex;
  align-items: center;
}

.button-type label .button-type-switch {
  position: relative;
}

.button-type label .button-type-switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}

.button-type label .button-type-switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: #00ccff;
  transform: translate3d(0, 0, 0);
}

.button-type label .button-type-switch {
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #fff;
}

.button-type label .button-type-switch:before {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 800;
}

.button-type label .button-type-switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #fff;
}

.button-type input:focus~label .button-type-switch:after,
.button-type input:hover~label .button-type-switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.button-type input:checked~label .button-type-switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
  transform: translate3d(65px, 0, 0);
}

.button-type input:checked:focus~label .button-type-switch:after,
.button-type input:checked:hover~label .button-type-switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.button-type label .button-type-switch {
  height: 32px;
  flex: 0 0 138px;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
}

.button-type label .button-type-switch:before {
  left: 67px;
  line-height: 32px;
  width: 67px;
}

.button-type label .button-type-switch:after {
  top: 3px;
  left: 3px;
  border-radius: 5px;
  width: 65px;
  line-height: 24px;
  font-size: 0.9rem;
  font-weight: 800;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2a2b29;
  color: white;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.fa-heart {
  animation: fa-heart_1862672523 3s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes fa-heart_1862672523 {
  0% {
    transform: perspective(100px)rotate(0deg)
  }

  16.667% {
    transform: perspective(100px)rotateX(180deg)rotateY(0);
  }

  33.333% {
    transform: perspective(100px)rotateX(180deg)rotateY(180deg);
  }

  50% {
    transform: perspective(100px)rotateX(0)rotateY(180deg);
  }

  66.667% {
    transform: perspective(100px)rotateX(0)rotateY(0);
  }

  100% {
    transform: perspective(100px)rotateX(0)rotateY(0);
  }
}
